<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TIR{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
</head>
<body>
    <header>
        <nav class="container">
            <a href="/">Home</a>
            <a href="/status">Status</a>
            <a href="/customers">Customers</a>
            <a href="/tasks">Tasks</a>
            <a href="/items">Items</a>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>